In [1]:
import pandas as pd
import numpy as np

# Given dictionary data
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

# Create DataFrame
df = pd.DataFrame(exam_data, index=labels)

# Print the first three rows using the head() method
print("First three rows of the DataFrame:")
print(df.head(3))

First three rows of the DataFrame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

In [54]:
# Delete rows with NaN values
df_cleaned = df.dropna()

# Display the DataFrame after deleting rows with NaN values
print("DataFrame after deleting rows with NaN values:")
print(df_cleaned)

DataFrame after deleting rows with NaN values:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [55]:
# Extract the 'name' and 'score' columns
name_score_df = df_cleaned[['name', 'score']]

# Display the extracted DataFrame
print("Extracted 'name' and 'score' columns:")
print(name_score_df)

Extracted 'name' and 'score' columns:
        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
i      Kevin    8.0
j      Jonas   19.0

In [56]:
# Append a new row 'k' to the DataFrame
new_row = pd.DataFrame({
    'name': ['Suresh'],
    'score': [15.5],
    'attempts': [1],
    'qualify': ['yes']
}, index=['k'])

df = df.append(new_row)

# Display the DataFrame after appending a new row 'k'
print("DataFrame after appending a new row 'k':")
print(df)

AttributeError: 'DataFrame' object has no attribute 'append'

In [57]:
# Display the DataFrame before deleting the 'attempts' column
print("DataFrame before deleting 'attempts' column:")
print(df)

# Delete the 'attempts' column from the DataFrame
df = df.drop('attempts', axis=1)

# Display the DataFrame after deleting the 'attempts' column
print("\nDataFrame after deleting 'attempts' column:")
print(df)

DataFrame before deleting 'attempts' column:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

DataFrame after deleting 'attempts' column:
        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d      James    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0      no
j      Jonas   19.0     yes

In [58]:
# Add new column 'Success' based on score condition
df['Success'] = np.where(df['score'] > 10, 1, 0)

# Display the DataFrame with the new 'Success' column
print("DataFrame with 'Success' column added:")
print(df)

DataFrame with 'Success' column added:
        name  score qualify  Success
a  Anastasia   12.5     yes        1
b       Dima    9.0      no        0
c  Katherine   16.5     yes        1
d      James    NaN      no        0
e      Emily    9.0      no        0
f    Michael   20.0     yes        1
g    Matthew   14.5     yes        1
h      Laura    NaN      no        0
i      Kevin    8.0      no        0
j      Jonas   19.0     yes        1

In [59]:
# Display the final DataFrame
print("Final DataFrame:")
print(df)

# Export DataFrame to CSV file
df.to_csv('my_data.csv', index=False)
print("\nDataFrame exported to CSV file 'my_data.csv' successfully.")

Final DataFrame:
        name  score qualify  Success
a  Anastasia   12.5     yes        1
b       Dima    9.0      no        0
c  Katherine   16.5     yes        1
d      James    NaN      no        0
e      Emily    9.0      no        0
f    Michael   20.0     yes        1
g    Matthew   14.5     yes        1
h      Laura    NaN      no        0
i      Kevin    8.0      no        0
j      Jonas   19.0     yes        1

DataFrame exported to CSV file 'my_data.csv' successfully.